* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headingFirst {
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.column {
    border: 1px solid black;
    height: 100vh;
    max-width: 28vw;
    padding: 2rem;
    border-radius: 1rem;
}
button {
    padding: 0.7rem 0;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    width: 100%;
    font-size: 1rem;
    background-color: #00ba96;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    transition: 0.18s ease-in-out;
}
button:hover {
    background-color: #008275;
    cursor: pointer;
}
h2 {
    font-weight: bolder;
    margin-bottom: 0.6rem;
}