
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.space{ height: 50vh;}
.headingFirst {
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.column {
    border: 1px solid black;
    height: 100vh;
    max-width: 28vw;
    padding: 2rem;
    border-radius: 1rem;
}
button {
    padding: 0.7rem 0;
    margin-top: 1rem;
    /* margin-bottom: 0.6rem; */
    width: 100%;
    font-size: 1rem;
    background-color: #00ba96;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    transition: 0.18s ease-in-out;
}
button:hover {
    background-color: #008275;
    cursor: pointer;
}
.subscribe span {
    color: #E05828;
}
h3 {
    margin-top: 1rem;
}
h2 {
    font-weight: bolder;
    margin-bottom: 0.6rem;
}
h1 {
    font-size: 3rem;
}
h1 span {
    font-size: 1.1rem;
    font-weight: 200;
}
h1 sup {
    font-size: 1rem;
    font-weight: 700;
}
p {
    margin-top: 0.8rem;
    color: #575C66;
    font-size: 1.2rem;
}
p i {
    color: #00BA96;
    margin-right: 0.58rem;
}
#last-h3 {
    margin-bottom: 0.45rem;
}
#last-p{
    margin-top: 0;
}